* {
    margin: 0;
    padding: 0;
}

body {
    background: #333843;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.titulo img {
    max-width: 200px;
    border-radius: 10px;
}

.MenuCabecalho {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li.professor,
.menu ul li.aluno,
.menu ul li.administrador {
    margin-right: auto;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: #000000;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.esquerda, .meio, .direita {
    margin: 0 10px;
}

.container a {
    color: rgb(255, 107, 107);
    text-decoration: none;
}

.container a:hover {
    color: rgb(255, 34, 34);
}

.container img {
    width: 100px;
    border-radius: 100px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
