* {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
}

.titulo img {
    max-width: 200px;
    border-radius: 10px;
}

.logoPerfil img {
    max-width: 100px;
}

.MenuCabecalho {
    display: flex;
    align-items: center;
    position: fixed;
}

.menu {
    position: fixed;
    right: calc(120px + 20px);
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li.professor,
.menu ul li.aluno,
.menu ul li.administrador {
    margin-right: auto;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    text-decoration: underline;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.meio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quadrado {
    width: 350px;
    background-color: #000000;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

#contato {
    margin-top: 20px;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

button img {
    width: 20px;
    margin-right: 10px;
}

